body {
    background-color: rgb(20, 20, 20);
    color: white
}

h1 {
    text-align: center;
    border-bottom: 1px white solid;
}

@media screen and (max-width: 720px) {
    body {
        background-color: black;
    }

    h1 {
        text-align: center;
        font-size: 90px;
        border-bottom: 1px white groove;
        color: brown;
    }
}
